* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.row {
  justify-content: space-around;
  display: flex;
  width: 100%;
}

.column1 {
  margin: 5px;
  padding-top: 100px;
  border: 2px solid black;
  position: relative;
}

.column2 {
  margin: 5px;
  padding-top: 100px;
  border: 2px solid black;
  position: relative;
}

.column3 {
  margin: 5px;
  padding-top: 100px;
  border: 2px solid black;
  position: relative;
}

.row > div {
  background-color: rgb(211, 148, 53);
  padding: 40px 20px 20px 20px;
}

.tag {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgb(158, 76, 18);
  border-bottom: 2px solid rgb(241, 204, 135);
  border-left: 2px solid rgb(241, 204, 135);
  width: 100px;
  height: 26px;
  padding: 10px 40px 25px 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .column1,
  .column2 {
    float: left;
    width: 50%;
  }
  .column3 {
    clear: left;
    width: 100px;
  }
}

/*********Large Device *********/
/*@media (min-width: 992px) {
  .row > div {
    width: 80%;
    width: 100px;
    height: 100px;
  }
}**/

/******Medium screem******/
